langchain
langchain-core
langchain-ollama
langchain-community
langchain-chroma
streamlit
pypdf2
python-docx
pandas
pillow
pytesseract
pyyaml
nbformat
pypdf
sentence-transformers
faiss-gpu-cu12
langchain_huggingface
docx2txt